$--colors: (
  'primary': (
    'base': $color-primary
  ),
  'success': (
    'base': $color-success
  ),
  'warning': (
    'base': $color-warning
  ),
  'danger': (
    'base': $color-error
  ),
  'error': (
    'base': $color-error
  ),
  'info': (
    'base': $color-prompttext
  )
);

$--text-color: (
  'primary': $color-titletext,
  'regular': $color-explaintext,
  'secondary': $color-prompttext,
  'placeholder': $color-placeholdertext,
  'disabled': $color-disabletext
);

$--border-color: (
  '': $color-border
);

$--font-family: (
  '': "Arial, 'Roboto', 'PingFang SC', 'Source Han Sans', 'Microsoft YaHei', sans-serif"
);

$--button-border-radius: (
  'large': 2px,
  'default': 2px,
  'small': 2px
);
$--button-padding-vertical: (
  'large': 9px,
  'default': 5px,
  'small': 2px
);
$--button-padding-horizontal: (
  'large': 16px,
  'default': 16px,
  'small': 16px
);

$--tree: (
  'node-content-height': 32px,
  'node-hover-bg-color': transparentize($color-primary, 0.9),
  'text-color': $color-titletext,
  'expand-icon-color': $color-prompttext
);

$--pagination: (
  'bg-color': $color-primary,
  'text-color': $color-whitebg,
  'border-radius': 2px,
  'button-color': $color-titletext,
  'button-disabled-color': $color-disabletext,
  'button-disabled-bg-color': $color-graybg,
  'button-bg-color': transparent
);

$--input: (
  'text-color': $color-titletext
);
$--input-padding-horizontal: (
  'large': 12px,
  'default': 12px,
  'small': 12px
);

$--select-option: (
  'hover-background': transparentize($color-primary, 0.9)
);

$--transfer: (
  'panel-width': 512px,
  'panel-header-bg-color': transparent,
  'panel-body-height': 280px
);

$--radio: (
  'text-color': $color-titletext
);

$--radio-checked: (
  'text-color': $color-titletext
);

$--checkbox: (
  'text-color': $color-titletext,
  'checked-text-color': $color-titletext,
  'border-radius': 2px
);

$--table: (
  'text-color': $color-titletext,
  'header-text-color': $color-titletext,
  'header-bg-color': $color-graybg,
  'row-hover-bg-color': $color-graybg
);

$--descriptions: (
  'item-bordered-label-background': $color-graybg
);

$--messagebox: (
  'title-color': $color-titletext,
  'font-size': 18px,
  'content-color': $color-explaintext,
  'content-font-size': 14px
);

$--dialog: (
  'box-shadow': 0px 2px 8px 0px rgba(0, 0, 0, 0.15),
  'title-font-size': 16px,
  'border-radius': 2px
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors,
  $text-color: $--text-color,
  $border-color: $--border-color,
  $font-family: $--font-family,
  $button-border-radius: $--button-border-radius,
  $button-padding-vertical: $--button-padding-vertical,
  $button-padding-horizontal: $--button-padding-horizontal,
  $tree: $--tree,
  $pagination: $--pagination,
  $input: $--input,
  $input-padding-horizontal: $--input-padding-horizontal,
  $select-option: $--select-option,
  $transfer: $--transfer,
  $radio: $--radio,
  $radio-checked: $--radio-checked,
  $checkbox: $--checkbox,
  $table: $--table,
  $descriptions: $--descriptions,
  $messagebox: $--messagebox,
  $dialog: $--dialog
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
