@font-face {
  font-family: 'YouSheBiaoTiHei-2';
  src: url('@/assets/fonts/YouSheBiaoTiHei-2.ttf');
}
@font-face {
  font-family: 'YouSheBiaoTiYuan-2';
  src: url('@/assets/fonts/YouSheBiaoTiYuan-2.otf');
}
@font-face {
  font-family: 'DINAlternate';
  src: url('@/assets/fonts/DINAlternate.ttf');
}
