@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('@/assets/fonts/YouSheBiaoTiHei-2.ttf');
}
@font-face {
  font-family: 'YouSheBiaoTiYuan';
  src: url('@/assets/fonts/YouSheBiaoTiYuan-2.otf');
}
@font-face {
  font-family: 'DINAlternate';
  src: url('@/assets/fonts/DINAlternate.ttf');
}
