/* 全局样式文件：引入 reset.scss 文件，并根据项目情况添加一些全局可使用的原子类 */
@import './element_var.scss';
@import url('./reset.scss');
@import url('./font.scss');

// 清除浮动
.clearfix {
  *zoom: 1;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

// 幽灵按钮
.ghost_button {
  &.el-button--primary {
    background-color: transparent !important;
    border-color: #fff !important;
  }
  &.is-disabled {
    opacity: 0.5 !important;
  }
  &.is-loading {
    opacity: 0.5 !important;
  }
}

.module_title {
  width: 100%;
  height: 32px;
  background-image: url(@/assets/images/moduleTitleBg.png);
  font-family: PangMenZhengDao;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}

.fence_style {
  .row {
    display: flex;
    + .row {
      margin-top: 10px;
    }
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2;
      flex: 1;
      .label {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
      .data {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      .value {
        font-family: PangMenZhengDao;
        font-size: 20px;
        line-height: 24px;
        color: $color-primary;
      }
      .unit {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .spl {
      width: 2px;
      height: 50px;
      background-image: url(@/assets/images/splitLine.png);
    }
  }
}

.desktop_style {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 7px 40px;
  padding: 0 23px 11px 23px;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-image: url(@/assets/images/desktopBg.png);
  }
  .item {
    display: flex;
    align-items: center;
    width: calc(50% - 20px);
    white-space: nowrap;
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }
    .label {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-right: 6px;
    }
    .value {
      font-family: PangMenZhengDao;
      font-size: 20px;
      line-height: 24px;
      color: $color-primary;
      margin-right: 6px;
    }
    .unit {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: $color-primary;
    }
  }
}
