/* 全局的混合 mixin 样式文件：组件中经常会服用的多个属性整合到一起的，类似原子类 */

// 文本溢出显示...
@mixin ellipsis($row: 1) {
  overflow: hidden;
  @if $row == 1 {
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
  }
}
