/* 全局的混合 mixin 样式文件：组件中经常会服用的多个属性整合到一起的，类似原子类 */

// 文本溢出显示...
@mixin ellipsis($row: 1) {
  overflow: hidden;
  @if $row == 1 {
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
  }
}

// 地图右上角的搜索框和图层切换按钮
@mixin mapOperate() {
  .el-input__wrapper {
    background: rgba(0, 15, 29, 0.6);
    border: 1px solid rgba(133, 243, 255, 0.3);
    box-shadow: inset 0px 0px 14px 0px rgba(0, 161, 255, 0.3);
  }
  .el-radio-button {
    flex: 1;
    .el-radio-button__inner {
      width: 100%;
      background: rgba(0, 15, 29, 0.6);
      border: 1px solid rgba(133, 243, 255, 0.3);
      box-shadow: inset 0px 0px 14px 0px rgba(0, 161, 255, 0.3);
      color: #ffffff;
    }
    &.is-active .el-radio-button__inner {
      background: linear-gradient(66deg, #0060ff 32%, #00e7ff 94%);
      border: none;
    }
  }
}

// 栅栏布局中间的分割线
@mixin fenceDividingLine($height: 50px) {
  width: 2px;
  height: $height;
  background-image: url(@/assets/images/splitLine.png);
  background-size: 100% 100%;
}
