/* 全局元素样式重置文件：用于清除 HTML 元素默认样式*/
@import 'normalize.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, 'Roboto', 'PingFang SC', 'Source Han Sans', 'Microsoft YaHei', sans-serif;
  &:focus {
    outline: none;
  }
}

html,
body {
  overflow: hidden;
  height: 100%;
  color: #ffffff;
  background: #000000;
}

li {
  list-style: none;
}

// 整个滚动条
::-webkit-scrollbar {
  // 对应纵向滚动条的宽度
  width: 0px;
  // 对应横向滚动条的宽度
  height: 0px;
}
// 滚动条上的箭头按钮
// ::-webkit-scrollbar-button {
//   background-color: #f8f9fb;
// }
// 滚动条上的滚动滑块
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #d9d9d9;
}
// 滚动条轨道
::-webkit-scrollbar-track {
  background-color: #f8f9fb;
}
// 滚动条没有滑块的轨道部分
::-webkit-scrollbar-track-piece {
  background-color: #f8f9fb;
}

// 移除input在type="number"时的上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
// input[type='number'] {
//   -moz-appearance: textfield;
// }

// 添加对话框的基础样式（当弹窗内容超出浏览器高度时弹窗高度自适应浏览器且上下间距为6倍距离基数）
div.el-dialog {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 15, 29, 0.8);
  border: 1px solid rgba(133, 243, 255, 0.3);
  box-shadow: inset 0px 0px 14px 0px rgba(0, 161, 255, 0.3);
  .el-dialog__header {
    border-bottom: none;
    margin: 0;
    padding: 2 * $baseDistance;
    font-weight: 500;
    font-size: 20px;
    .el-icon.el-dialog__close {
      color: $color-primary;
    }
  }
  .el-dialog__body {
    overflow: auto;
    max-height: calc(100vh - 12 * $baseDistance - 57px - 65px);
    padding: 2 * $baseDistance;
  }
  .el-dialog__footer {
    border-top: 1px solid $color-separator;
    padding: 2 * $baseDistance 3 * $baseDistance;
  }
}

div.el-input__wrapper {
  background-color: transparent;
}
span.el-radio__inner {
  background-color: transparent;
}
span.el-radio__input.is-checked .el-radio__inner {
  border-color: $color-primary;
  background-color: transparent;
  &::after {
    width: 6px;
    height: 6px;
    background-color: $color-primary;
  }
}
span.el-radio-button__inner {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  font-size: 14px;
  line-height: 16px;
}
label.el-radio-button.is-active .el-radio-button__inner {
  background-color: transparent;
  color: $color-primary;
  box-shadow: inset 0px 0px 5px 0px #00baff !important;
}
div.el-descriptions__body {
  background-color: transparent;
  tr:nth-child(even) {
    background-color: rgba(72, 152, 251, 0.1);
  }
  .el-descriptions__table:not(.is-bordered) .el-descriptions__cell {
    padding: 0;
    height: 32px;
  }
  .el-descriptions__label:not(.is-bordered-label) {
    margin-left: 12px;
  }
}
