$--colors: (
  'primary': (
    'base': #36b29e
  ),
  'success': (
    'base': #28ce8e
  ),
  'warning': (
    'base': #faad10
  ),
  'danger': (
    'base': #f13939
  ),
  'error': (
    'base': #f13939
  ),
  'info': (
    'base': #8c8c8c
  )
);

$color-titletext: #262626;
$color-explaintext: #595959;
$color-prompttext: #8c8c8c;
$color-placeholdertext: #bfbfbf;
$color-disabletext: #bfbfbf;
$--text-color: (
  'primary': $color-titletext,
  'regular': $color-explaintext,
  'secondary': $color-prompttext,
  'placeholder': $color-placeholdertext,
  'disabled': $color-disabletext
);

$color-border: #d9d9d9;
$--border-color: (
  '': $color-border
);

$--font-family: (
  '': "Arial, 'Roboto', 'PingFang SC', 'Source Han Sans', 'Microsoft YaHei', sans-serif"
);

$--button-border-radius: (
  'large': 4px,
  'default': 4px,
  'small': 4px
);
$--button-padding-vertical: (
  'large': 9px,
  'default': 5px,
  'small': 2px
);
$--button-padding-horizontal: (
  'large': 16px,
  'default': 16px,
  'small': 16px
);

$color-separator: #f0f0f0;
$color-garybg: #f4f9f7;
$color-whitebg: #ffffff;

$--tree: (
  'node-content-height': 32px,
  'node-hover-bg-color': transparentize(#36b29e, 0.9),
  'text-color': $color-titletext,
  'expand-icon-color': $color-prompttext
);

$--pagination: (
  'bg-color': #36b29e,
  'text-color': #ffffff,
  'border-radius': 4px,
  'button-color': $color-titletext,
  'button-disabled-color': $color-disabletext,
  'button-disabled-bg-color': #f8f9fb,
  'button-bg-color': transparent
);

$--input: (
  'text-color': $color-titletext
);
$--input-padding-horizontal: (
  'large': 12px,
  'default': 12px,
  'small': 12px
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors,
  $text-color: $--text-color,
  $border-color: $--border-color,
  $font-family: $--font-family,
  $button-border-radius: $--button-border-radius,
  $button-padding-vertical: $--button-padding-vertical,
  $button-padding-horizontal: $--button-padding-horizontal,
  $tree: $--tree,
  $pagination: $--pagination,
  $input: $--input,
  $input-padding-horizontal: $--input-padding-horizontal
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
